strong {
  margin-left: 0;
}
.none {
  display: none;
}

body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
  margin-left: 5px;
  }
p {
  margin: 0 0 5px;
  }
.article {
  position: relative;
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
  border-radius: 5px;
}
.news__author {
  text-decoration: underline;
  color: #007DDC;
  }
  .news__count {
  margin: 10px 0 0 0;
  display: block;
  }
.news_readmore {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 81, 202);
    padding: 5px 8px;
    border-radius: 4px;
    color: #fff
  }

.arrow-top {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: blue;
}
.arrow-top:hover {
  transform: scale(1.2);
  transform-origin: top;
  transition-duration: 350ms;
}
.add {
  margin-left: 150px;
  margin-top: 50px;
  width: 300px;

  }
  .add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 5px auto;
  width: 100%;
  border-radius: 5px;
  padding: 7px 12px;
  border: 1px solid blue;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  font-size: 14px;
  }

  .add__checkrule {
  border: none;
  font-size: 12px;
  box-shadow: none;
  cursor: pointer;
  }
  .add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: rgb(0, 81, 202);
  }
  .add__btn:hover {
    cursor: pointer;
    transition-duration: 500ms;
    background: rgb(4, 79, 136);
    color: rgba(255, 255, 255, 0.479);
  }
  .add__btn:disabled {
  background: #CCC;
  color: #999;
  border-color: transparent;
  }